html {
  background: rgb(213, 210, 215);
  background: linear-gradient(
    180deg,
    rgba(213, 210, 215, 1) 0%,
    rgba(29, 199, 253, 0.7) 50%,
    rgba(158, 69, 252, 0.6) 100%
  );
  min-height: 100vh;
  font-family: "Roboto";
  box-sizing: border-box;
  text-align: center;
}

body {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #f5f5f5;
  padding: 20px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
  font-size: 1.8rem;
}

.box {
  max-width: 440px;
  margin: 50px auto;
  background: #f5f5f5;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.list-box-bg {
  max-width: 440px;
  margin: 2rem auto;
}

.list-box {
  margin: 4px auto;
}

#heading {
  background-color: #a5c0dd;
  text-align: center;
}

.item {
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a5c0dd;
  text-decoration-style: wavy;
  text-decoration-thickness: 5px;
}

input[type="checkbox"] {
  margin: auto 30px;
  transform: scale(1.8);
  accent-color: #a5c0dd;
  mix-blend-mode: multiply;
}

p {
  margin-right: 20px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  text-align: left;
  word-wrap: anywhere;
}

form {
  text-align: center;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a5c0dd;
  color: #fff;
  font-size: 30px;
  padding-bottom: 1px;
  border-width: 0;
  margin-right: 20px;
  margin-left: -30px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  margin: auto;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a5c0dd;
  color: transparent;
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

::placeholder {
  color: grey;
  opacity: 1;
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

footer p {
  text-align: center;
  color: #f5f5f5;
  padding: 20px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
  font-size: 1.1rem;
  margin: auto;
}

footer a {
  text-decoration: none;
  color: #f5f5f5;
}

footer a:hover {
  color: black;
}

 @media (max-width: 450px) {
  .box,
  .list-box-bg,
  .list-box,
  .item,
  input[type="text"] {
    font-size: 0.9rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: auto;
    min-height: 60px;
  }

  p {
    margin-left: 0;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  input[name="newItem"] {
    margin: auto;
  }

  ::placeholder {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.9rem;
  }

  #heading {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  /* 

 





  button {
    position: absolute;
    right: 100px;
    min-height: 88px;
    width: 88px;
    font-size: 3rem;
  }

  input[type="checkbox"] {
    margin: 60px;
    transform: scale(3);
  } */

}
